/*resolucion */

@media(max-width : 767px){
    .desktop {display: none;

    }
    .tablet {display: none;

    }
}
@media(min-width : 768px) and (max-width: 990px) {
    .desktop {display: none;

    }
    .movil{display: none;

    }
}
@media(min-width : 991px){
    .tablet {display: none;

    }
    .movil{display: none;

    }
}



/* Animación */
.container {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles {
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 20px;
    height: 20px;
    background: #1d9cce;
    margin: 0 4px;
    border-radius: 60%;
    box-shadow: 0 0 10px #0b435a,
    0 0 50px rgb(34, 177, 233),
    0 0 100px rgb(36, 89, 110);
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));

}
.bubbles span:nth-child(even){
    background: #1c8118;
    box-shadow: 0 0 10px #44894e,
    0 0 20px #24a035,
    0 0 50px #24a035;
}
@keyframes animate{
    0% { 
        transform: translatey(100vh) scale(0);
    }
    100%{
        transform: translatey(-10vh) scale(1);
    }
}




