/*resolucion */

@media(max-width : 767px){
    .desktop {display: none;

    }
    .tablet {display: none;

    }
}
@media(min-width : 768px) and (max-width: 990px) {
    .desktop {display: none;

    }
    .movil{display: none;

    }
}
@media(min-width : 991px){
    .tablet {display: none;

    }
    .movil{display: none;

    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    text-decoration: none;
    list-style: none;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar{
    width:9px;
}

body::-webkit-scrollbar-thumb{
    background: #414141;
    border-radius: 10px;
}
