.movil{
    width: 767px;
    height: 100vh;
    overflow: auto;
    scroll-snap-type:y mandatory; 
    margin-left: auto;
}
.movil .top-logo{
    width: max-content;

}
.movil .top-logo img {
    width: 80%;
    margin: 0% auto;
}
.movil .nav-bar{
    width: 100%;
    font-size: 1%;
}
.movil .form-wel-container{
    
}